#### Imports

In [1]:
#pip install google-cloud-bigquery
#pip install --upgrade google-cloud-bigquery
#pip install pandas pandas-gbq

In [7]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
from pandas_gbq import to_gbq
from datetime import datetime
import os

In [62]:
# Credenciais
credencial = service_account.Credentials.from_service_account_file(
    r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\credencial\pythoncurso-465921-96e8acdc225e.json',
    scopes = ['https://www.googleapis.com/auth/bigquery']
)

#### Carregando Dados

In [13]:
df = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Produto.xlsx')
df.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   0       Sapato vermelho     96            0
2   1  Bolsa mais que Velha   8000            0
3   2                 Calça     75            0
4   3    Camisa apertadinha    170            0

#### Enviando DataFrame para o BigQuery

In [14]:
df.to_gbq(destination_table = 'pythoncurso-465921.AulaPython.Produto', #Substituir pelo nome correto da tabela
          project_id = 'pythoncurso-465921',
          if_exists = 'replace', #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\1804244575.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(destination_table = 'pythoncurso-465921.AulaPython.Produto', #Substituir pelo nome correto da tabela

#### Enviando Varias Tabelas para o BigQuery

In [2]:
produto = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Produto.xlsx')
itens = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Itens.xlsx')
ordens = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Ordens.xlsx')
categoria = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Categoria.xlsx')
clientes = pd.read_csv(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Clientes.csv', delimiter=',')

In [35]:
projeto = 'pythoncurso-465921'
dataset = 'Ecommerce'
parametro = 'replace'
BQproduto = 'Produto'
BQitens = 'itens'
BQordens = 'ordens'
BQcategoria = 'categoria'
BQclientes = 'clientes'

In [31]:
# Credenciais
credencial = service_account.Credentials.from_service_account_file(
    r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\credencial\pythoncurso-465921-96e8acdc225e.json',
    scopes = ['https://www.googleapis.com/auth/bigquery']
)

In [32]:
produto.to_gbq(destination_table = f'{projeto}.{dataset}.{BQproduto}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\3923905510.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  produto.to_gbq(destination_table = f'{projeto}.{dataset}.{BQproduto}', #Substituir pelo nome correto da tabela

In [19]:
itens.to_gbq(destination_table = f'{projeto}.{dataset}.{BQitens}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\2680836322.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  itens.to_gbq(destination_table = f'{projeto}.{dataset}.{BQitens}', #Substituir pelo nome correto da tabela

In [36]:
ordens.to_gbq(destination_table = f'{projeto}.{dataset}.{BQordens}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\1470974026.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  ordens.to_gbq(destination_table = f'{projeto}.{dataset}.{BQordens}', #Substituir pelo nome correto da tabela

In [ ]:
categoria.to_gbq(destination_table = f'{projeto}.{dataset}.{BQcategoria}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_12720\938857810.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  categoria.to_gbq(destination_table = f'{projeto}.{dataset}.{BQcategoria}', #Substituir pelo nome correto da tabela

In [ ]:
clientes.to_gbq(destination_table = f'{projeto}.{dataset}.{BQclientes}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_12720\3512586493.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  clientes.to_gbq(destination_table = f'{projeto}.{dataset}.{BQclientes}', #Substituir pelo nome correto da tabela

#### Extraindo Tabelas do Google BigQuery

In [21]:
# Caminho do arquivo da credencial
credencial = r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\credencial\pythoncurso-465921-96e8acdc225e.json'

# Criando o clint Bigquery usando as credenciais 
client = bigquery.Client.from_service_account_json(credencial)

In [22]:
#Consultas
queryProduto = """
SELECT * FROM `pythoncurso-465921.Ecommerce.Produto`
"""

#Executa a consulta e traz o resultado
resultadoProduto = client.query(queryProduto)

#Convertendo o resultado em DataFrame
Produto = resultadoProduto.to_dataframe()

c:\Users\naylson.araujo\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [23]:
Produto.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   0       Sapato vermelho     96            0
2   1  Bolsa mais que Velha   8000            0
3   2                 Calça     75            0
4   3    Camisa apertadinha    170            0

In [24]:
#Salvando o arquivo na pasta
caminho = r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\dados exportados\\'
arquivoProduto = 'produto.xlsx'

Produto.to_excel(caminho+arquivoProduto, index=False) #index=False para não incluir o índice no arquivo

In [25]:
#Querys
queryCategoria = """
SELECT * FROM `pythoncurso-465921.Ecommerce.categoria` WHERE id in (0,5,8,10)
"""
queryItens = """
SELECT * FROM `pythoncurso-465921.Ecommerce.itens`
"""
queryOrdens = """
SELECT * FROM `pythoncurso-465921.Ecommerce.ordens`
"""
queryClientes = """
SELECT * FROM `pythoncurso-465921.Ecommerce.clientes` LIMIT 50
"""

In [26]:
#Resultados
rCategoria = client.query(queryCategoria)
rItens = client.query(queryItens)
rOrdens = client.query(queryOrdens)
rClientes = client.query(queryClientes)

In [27]:
#DataFrames
dfCategoria = rCategoria.to_dataframe()
dfItens = rItens.to_dataframe()
dfOrdens = rOrdens.to_dataframe()
dfClientes = rClientes.to_dataframe()

c:\Users\naylson.araujo\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [ ]:
#Arquivos + Armazenamento em Excel
aCategoria = 'categoria.xlsx'
aItens = 'itens.xlsx'
aOrdens = 'ordens.xlsx'
aClientes = 'clientes.xlsx'

dfCategoria.to_excel( caminho + aCategoria, index=False )
dfItens.to_excel( caminho + aItens, index=False )
dfOrdens.to_excel( caminho + aOrdens, index=False )
dfClientes.to_excel( caminho + aClientes, index=False )

In [40]:
df2 = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Ordens.xlsx')
df2.head()

   id          created_at  customer_id              status
0   0 2019-08-28 03:36:31           91            entregue
1   1 2019-08-16 20:21:30            7            entregue
2   2 2019-07-11 11:00:06           26  pagamento_pendente
3   3 2019-08-27 21:04:41           92  pagamento_pendente
4   4 2019-11-03 19:58:37           63    entrega_pendente

In [41]:
# Filtrar df antes da carga (apenas mês e ano atuais)
hoje = datetime.now()
mes_atual = hoje.month
ano_atual = hoje.year

df2 = df2[( df2['created_at'].dt.month == mes_atual ) & ( df2['created_at'].dt.year == ano_atual )]

In [42]:
df2.head()

          id              created_at  customer_id              status
10000  10000 2025-10-01 18:47:00.000           79            carrinho
10001  10001 2025-10-02 18:46:59.995            0    entrega_pendente
10002  10002 2025-10-03 18:46:59.995           58            carrinho
10003  10003 2025-10-04 18:46:59.995            6            entregue
10004  10004 2025-10-05 18:46:59.995           50  pagamento_pendente

In [44]:
comandoapagar = """ 

 delete
 FROM `pythoncurso-465921.Ecommerce.ordens`
 where FORMAT_TIMESTAMP('%Y', created_at)  = FORMAT_TIMESTAMP('%Y', CURRENT_DATE())
 and  FORMAT_TIMESTAMP('%m', created_at)  = FORMAT_TIMESTAMP('%m', CURRENT_DATE())


"""
# Execute a consulta
apagardados = client.query(comandoapagar)

In [45]:
df2.to_gbq(destination_table = f'{projeto}.{dataset}.{BQordens}', #Substituir pelo nome correto da tabela
          project_id = projeto,
          if_exists = parametro, #replace = substitui a tabela, append = adiciona dados no fim da tabela existente
          credentials = credencial
          )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\2360857660.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df2.to_gbq(destination_table = f'{projeto}.{dataset}.{BQordens}', #Substituir pelo nome correto da tabela

#### Trabalhando com datas e mantendo histórico

In [46]:
df3 = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\repos\estudos_big_query\data\Produto.xlsx')
df3.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   0       Sapato vermelho     96            0
2   1  Bolsa mais que Velha   8000            0
3   2                 Calça     75            0
4   3    Camisa apertadinha    170            0

In [50]:
df3['DataHoraCarga'] = datetime.now()
df3.head()

   ID                  Name  Price  Id_Category              DataHoraCarga
0   0       Sapato vermelho     96            0 2025-10-08 17:00:29.397326
1   0       Sapato vermelho     96            0 2025-10-08 17:00:29.397326
2   1  Bolsa mais que Velha   8000            0 2025-10-08 17:00:29.397326
3   2                 Calça     75            0 2025-10-08 17:00:29.397326
4   3    Camisa apertadinha    170            0 2025-10-08 17:00:29.397326

In [51]:
# convertendo a data para o formato aceitável do bigquery
df3['DataHoraCarga'] = datetime.now().strftime( '%Y-%m-%d %H:%M:%S' )
df3.head()

   ID                  Name  Price  Id_Category        DataHoraCarga
0   0       Sapato vermelho     96            0  2025-10-08 17:04:21
1   0       Sapato vermelho     96            0  2025-10-08 17:04:21
2   1  Bolsa mais que Velha   8000            0  2025-10-08 17:04:21
3   2                 Calça     75            0  2025-10-08 17:04:21
4   3    Camisa apertadinha    170            0  2025-10-08 17:04:21

In [ ]:
# data da carga
df3['DataCarga'] = datetime.now().strftime( '%d/%m/%Y' )
df3.head()

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga
0,0,Sapato vermelho,96,0,2025-10-08 17:04:21,08/10/2025
1,0,Sapato vermelho,96,0,2025-10-08 17:04:21,08/10/2025
2,1,Bolsa mais que Velha,8000,0,2025-10-08 17:04:21,08/10/2025
3,2,Calça,75,0,2025-10-08 17:04:21,08/10/2025
4,3,Camisa apertadinha,170,0,2025-10-08 17:04:21,08/10/2025

In [58]:
# hora da carga
df3['HoraCarga'] = datetime.now().strftime( '%H:%M:%S' )
df3.head()

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga,HoraCarga
0,0,Sapato vermelho,96,0,2025-10-08 17:04:21,2025-08-10,17:16:21
1,0,Sapato vermelho,96,0,2025-10-08 17:04:21,2025-08-10,17:16:21
2,1,Bolsa mais que Velha,8000,0,2025-10-08 17:04:21,2025-08-10,17:16:21
3,2,Calça,75,0,2025-10-08 17:04:21,2025-08-10,17:16:21
4,3,Camisa apertadinha,170,0,2025-10-08 17:04:21,2025-08-10,17:16:21

In [60]:
df3.dtypes

ID                        int64
Name                     object
Price                     int64
Id_Category               int64
DataHoraCarga    datetime64[ns]
DataCarga        datetime64[ns]
HoraCarga                object
dtype: object

In [59]:
# converter para datetime
df3['DataHoraCarga'] = pd.to_datetime( df3['DataHoraCarga'] )
df3['DataCarga'] = pd.to_datetime( df3['DataCarga'] )

df3.head()

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga,HoraCarga
0,0,Sapato vermelho,96,0,2025-10-08 17:04:21,2025-08-10,17:16:21
1,0,Sapato vermelho,96,0,2025-10-08 17:04:21,2025-08-10,17:16:21
2,1,Bolsa mais que Velha,8000,0,2025-10-08 17:04:21,2025-08-10,17:16:21
3,2,Calça,75,0,2025-10-08 17:04:21,2025-08-10,17:16:21
4,3,Camisa apertadinha,170,0,2025-10-08 17:04:21,2025-08-10,17:16:21

In [61]:
# criando um schema do tipo de dados aceitavel no bigquery
schema = [
    {'name': 'DataHoraCarga', 'type': 'TIMESTAMP'},
    {'name': 'Price', 'type': 'INTEGER'},
    {'name': 'Id_Category', 'type': 'INTEGER'},
    {'name': 'DataCarga', 'type': 'DATE'}
]

In [64]:
# enviando o DataFrame para o BigQuery
df3.to_gbq(
    destination_table=f'{projeto}.AulaPython.ProdutoHistórico',
    project_id = projeto,
    if_exists = 'append',
    credentials = credencial,
    table_schema = schema
           )

C:\Users\naylson.araujo\AppData\Local\Temp\ipykernel_15216\4226334214.py:2: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df3.to_gbq(

#### Funções de junção de tabelas

In [3]:
# Join Tabela Ordens e Clientes

T1 = pd.merge(ordens,clientes, left_on='customer_id', right_on='id', how='left')
T1.head()

,id_x,created_at_x,customer_id,status,id_y,created_at_y,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2019-08-28 03:36:31,91,entregue,91,2018-09-12 22:12:05,Daniel,Costa,daniel@teste.com,9 4761-6557,Brasil,Rio Grande do Norte,Praça 25 do Estado Rio Grande do Norte,281.0,Apto 8
1,1,2019-08-16 20:21:30,7,entregue,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
2,2,2019-07-11 11:00:06,26,pagamento_pendente,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,NaN
3,3,2019-08-27 21:04:41,92,pagamento_pendente,92,2017-10-16 16:29:15,Beatriz,Bueno,beatriz@teste.com,9 4435-2960,Brasil,Acre,Rua 71 do Estado Acre,978.0,Apto 24
4,4,2019-11-03 19:58:37,63,entrega_pendente,63,2018-05-05 17:52:26,Caíque,Batista,caíque@teste.com,9 8818-5886,Brasil,Ceará,Rua 76 do Estado Ceará,239.0,Apto 19

In [4]:
# Concatenar tabelas de vendas
vendas2021 = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\Arquivos+google+bigquery\Arquivos google bigquery\Arquivos\Origem\arquivos_excel\Consolidar\Vendas2021.xlsx')
vendas2022 = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\Arquivos+google+bigquery\Arquivos google bigquery\Arquivos\Origem\arquivos_excel\Consolidar\Vendas2022.xlsx')
vendas2023 = pd.read_excel(r'G:\ANALISYS\EZTEC\NAYLSON ARAUJO\0.0-Temp\00_Estudos\ETL Google BigQuery\Arquivos+google+bigquery\Arquivos google bigquery\Arquivos\Origem\arquivos_excel\Consolidar\Vendas2023.xlsx')

VendasTotais = pd.concat( [vendas2021, vendas2022, vendas2023] )
VendasTotais.head()

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [ ]:
VendasTotais2 = pd.concat( [vendas2021, vendas2022, vendas2023], keys=["2021", "2022", "2023"] ) #identifica as tabelas e reseta o indice 
VendasTotais2.head()

             Data  Id Venda  IdCategoria    Categoria  IdPais      Pais  \
2021 0 2021-04-02       573            1         Moda     636  Alemanha
     1 2021-04-02       599            4   Acessórios     637    França
     2 2021-04-02      1125            1         Moda     636  Alemanha
     3 2021-04-02      1151            4   Acessórios     637    França
     4 2021-04-06       394            5  Automitivos     639       USA

        idProduto       Produto  Custo fabricacao  Unidades Vendidas  \
2021 0         15        Shorts                10               1033
     1         12       Relogio               120                739
     2         15        Shorts                10                790
     3         12       Relogio               120                953
     4          8  Limpa vidros               250                290

        Preco venda  Vendas total  Descontos
2021 0           20         20660   3674.400
     1           15         11085   7795.125
     2           20         15800   3674.400
     3           15         14295   7795.125
     4          300         87000  19392.000

In [8]:
# Verificando se o arquivo já existe e adicionar no final

# Local onde será salvo
pasta = r'G:\\ANALISYS\\EZTEC\\NAYLSON ARAUJO\\0.0-Temp\\00_Estudos\\repos\\estudos_big_query\\data\\'

# Nome do arquivo
arquivo = 'VendasTotais.xlsx'

# Lista para armazenar
dados = []

# Caminho completo
caminho = pasta + arquivo

if os.path.exists(caminho):
    df = pd.read_excel(caminho) # carrega o arquivo excel em um dataframe
    dados.append(df) # adiciona os dados existentes no dataframe

VendasTotais.to_excel(caminho, index=False) # salva o dataframe como excel